.mainContainer {

    .mainContent{

        width: 97%;
        height: 85.5vh;
        font-size: 1.8rem;
        font-weight: 700;

        display: flex;
        align-items: center;
        flex-direction: column;

        margin-left: 1rem;


        .mainStats{
            width: 60%;
            height: 90vh;

            box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
            border-radius: 8px;

            margin-top: 3rem;

            padding: 2rem;
        }

    }
}

@media (max-width: 1024px){
    .mainContainer {

        .mainContent{
            .mainStats{
                width: 96%;
                height: 90vh;
            }      
        }
    }
}

@media (max-width: 768px){
    .mainContainer {
        max-width: 100%;
        .mainContent{
            .mainStats{
                position: relative; 
                height:40vh; 
                width:80vw;
            }      
        }
    }
}