.mainContainer {
    grid-area: content;
    .mainContent{

        width: 60%;
        height: 98%;

        display: flex;
        align-items: center;
        // justify-content: center;
        flex-direction: column;

        box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        
        margin: 2rem auto;
        padding: 3rem;

        .containerComoUsar{

            h1{
                font-size: 3.2rem;
            }

            p{
                font-size: 1.8rem;
            }

            h2{
                font-size: 2.4rem;
                margin-top: 2rem;
            }

            img{
                display: flex;
                margin: 3rem auto;

                border: 1px solid #000000;

            }

        }

    }
}

@media (max-width: 1440px){
    .mainContainer{
        max-width: 100vw;

        .mainContent{
            width: 94%;
            height: 95%;

            margin: 2rem auto;

            padding: 0;

            .containerComoUsar{
                width: 98%;
                padding: 2rem 2rem;

                img{
                    width: 80%;
                }

                padding-bottom: 12rem;
            }
        }
    }
}

@media (max-width: 768px){
    .mainContainer{
        max-width: 100vw;

        .mainContent{
            width: 94%;
            height: 95%;

            margin: 2rem auto;

            padding: 0;

            .containerComoUsar{
                width: 98%;
                padding: 2rem 2rem;

                img{
                    width: 85vw;
                }

                padding-bottom: 12rem;
            }
        }
    }
}

  @media (max-width: 425px){

    .mainContainer{

        .mainContent{
            width: 94%;
            height: 95%;

            margin: 2rem auto;

            padding: 0;

            .containerComoUsar{
                width: 98%;
                padding: 2rem 2rem;

                img{
                    width: 85vw;
                }

                padding-bottom: 12rem;
            }
        }
    }
  }