.mainContainer {
    grid-area: content;
    .mainContent{

        height: 85.5vh;

        font-size: 1.8rem;
        font-weight: 700;

        display: flex;
        align-items: center;
        // justify-content: center;
        flex-direction: column;

        box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        
        margin: 2.4rem;

        .buttonsMain{
            width: 50rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            // flex-direction: row;

            margin-top: 10.4rem;

            button {
                font-size: 1.8rem;
                font-weight: 700;
                color: #1C1F37;

                width: 20rem;
                padding: 1rem 0 1rem 0;
                background-color: #F2F4FD;

                border-radius: 6px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    margin-right: 2px;
                }

                #temporizador{
                    
                    transition: filter 0.2s;

                    &:hover{
                      filter: brightness(0.95);
                    }
                }
                
            }

            .separatorButton::after {
                content: "";
                border-right: 1px solid #DADADA;
                padding: 0.45rem 0 0.45rem 0;
            }

            
        }

    }
}

@media (max-width: 768px){
    .mainContainer{
        width: 100%;
        height: 100vh;

        .mainContent{
            width: 93%;
            height: 95vh;
            
            padding-block-end: 70rem;
        }
    }
}

  @media (max-width: 425px){

    .mainContainer {

        .mainContent{
            .buttonsMain{
                width: 60rem;

                button {
                    font-size: 2.5rem;

                    width: 25rem;
                    padding: 1rem 0 1rem 0;

                    img {
                        height: 38px;
                        margin-right: 6px;
                    }
                }

                .separatorButton::after {
                    padding: 0.25rem 0 0.25rem 0;
                }
            }
        }
    }
  }