.grid {
  display: grid;
	max-width: 100vw;
  max-height: 100vh;
}

.grid-template-areas {
  grid-template-columns: 15.3% 1fr;
  grid-template-rows: 90px 1fr;
  grid-template-areas:
    "sidenav header"
    "sidenav content";

}

@media (max-width: 1440px){
  .grid-template-areas {
    grid-template-columns: 255px 1fr;
    grid-template-rows: 90px 1fr 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav content";
  }
}

@media (max-width: 768px){
  .grid-template-areas {
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr;
    grid-template-areas:
      "header"
      "content";
  }
}

@media (max-width: 425px){
  .grid-template-areas {
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr;
    grid-template-areas:
      "header"
      "content";
  }
}